<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:component-scan base-package="com.yangyang"/>
    <!-- 为了对注解的支持 -->

    <tx:annotation-driven/>

    <!--<aop:aspectj-autoproxy />-->
    <bean id="roleAspect" class="com.yangyang.aop.aspect.RoleAspect"/>
    <bean id="roleService" class="com.yangyang.aop.service.impl.RoleServiceImpl"/>
    <aop:config>
        <aop:aspect id="c" ref="roleAspect">
            <aop:pointcut id="tx"
                          expression="execution(* com.yangyang.aop.service.impl.RoleServiceImpl.printRole(..))"/>
            <aop:before pointcut-ref="tx" method="before"/>
            <aop:after pointcut-ref="tx" method="after"/>
            <aop:after-returning pointcut-ref="tx" method="afterReturning"/>
            <aop:after-throwing pointcut-ref="tx" method="afterThrowing"/>
            <aop:around pointcut-ref="tx" method="around"/>
        </aop:aspect>
    </aop:config>

    <!--<bean id="test1" class="com.yangyang.controller.Test1" init-method="init">-->
    <!--&lt;!&ndash;<property name="i" value="1"/>&ndash;&gt;-->
    <!--</bean>-->

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url">
            <value>${master_url}</value>
        </property>
        <property name="username" value="jdbc:mysql://localhost:3306/chapter12"/>
        <property name="password" value="123"/>

        <!-- 连接池启动时创建的初始化连接数量（默认值为0） -->
        <property name="initialSize" value="1"/>
        <!-- 连接池中可同时连接的最大的连接数 默认 8-->
        <property name="maxActive" value="150"/>
        <!-- 连接池中最小的空闲的连接数，低于这个数量会被创建新的连接 -->
        <property name="minIdle" value="5"/>
        <!-- 连接池中最大的空闲的连接数，超过的空闲连接将被释放，如果设置为负数表示不限制 默认8 -->
        <property name="maxIdle" value="30"/>
        <!-- 最大等待时间，当没有可用连接时，连接池等待连接释放的最大时间，超过该时间限制会抛出异常，如果设置-1表示无限等待 -->
        <property name="maxWait" value="60000"/>
        <!-- 超过removeAbandonedTimeout时间后，是否进 行没用连接（废弃）的回收（默认为false，调整为true)-->
        <property name="removeAbandoned" value="true"/>
        <!-- 超过时间限制，回收没有用(废弃)的连接（默认为 300秒，调整为180） -->
        <property name="removeAbandonedTimeout" value="180"/>
        <!-- 默认提交 -->
        <property name="defaultAutoCommit" value="true"/>
        <!-- 打开检查,用异步线程evict进行检查 -->
        <property name="testWhileIdle" value="true"/>
        <!-- 就是在进行borrowObject进行处理时，对拿到的connection进行validateObject校验 -->
        <property name="testOnBorrow" value="false"/>
        <!-- 就是在进行returnObject对返回的connection进行validateObject校验，个人觉得对数据库连接池的管理意义不大 -->
        <property name="testOnReturn" value="false"/>
        <!--  代表检查的sql -->
        <property name="validationQuery" value="select 1 from dual"/>
        <!-- 代表在执行检查时，通过statement设置，statement.setQueryTimeout(validationQueryTimeout)  -->
        <property name="validationQueryTimeout" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <!-- 代表每次检查链接的数量，建议设置和maxActive一样大，这样每次可以有效检查所有的链接.  -->
        <property name="numTestsPerEvictionRun" value="100"/>
    </bean>

    <!--配置数据源事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--声明式事务需要配置注解驱动-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <import resource="spring-redis.xml"/>

    <!-- Spring线程池 -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数 -->
        <property name="corePoolSize" value="5" />
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="10" />
        <!-- 队列最大长度 >=mainExecutor.maxSize -->
        <property name="queueCapacity" value="25" />
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="3000" />
        <!-- 线程池对拒绝任务(无线程可用)的处理策略 ThreadPoolExecutor.CallerRunsPolicy策略 ,调用者的线程会执行该任务,如果执行器已关闭,则丢弃. -->
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
        </property>
    </bean>



</beans>