<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.yangyang.controller"></context:component-scan>

    <mvc:annotation-driven />

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--springMVC上传文件，配置MultipartResolver处理器-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
        <!--&lt;!&ndash;指定上传文件的总大小不能超过200k&ndash;&gt;-->
        <!--<property name="maxUploadSize" value="200000"/>-->
        <!--&lt;!&ndash;指定上传文件的临时路径&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="uploadTempDir" value=""/>&ndash;&gt;-->
    <!--</bean>-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
        <!--<property name="maxUploadSize" value="200000"/>-->
    <!--</bean>-->


    <mvc:interceptors>
        <!--  使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求   -->
        <!-- <bean class="com.bybo.aca.web.interceptor.Login"/> -->
        <mvc:interceptor>
            <mvc:mapping path="/role/*"/>
            <!--<mvc:exclude-mapping path="/index.html"/>-->
            <bean class="com.yangyang.interceptor.RoleInterceptor1"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/role/*"/>
            <bean class="com.yangyang.interceptor.RoleInterceptor2"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/role/*"/>
            <bean class="com.yangyang.interceptor.RoleInterceptor3"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:application name="test-provider"/>
    <dubbo:registry protocol="zookeeper" address="zookeeper://127.0.0.1:2181"/>

</beans>